<center> <br>
    <div class="container">
        <div class="row">
            <div class="col-2"> <strong>Şaşe No </strong> </div>
            <div class="col-2"> <strong>Araba Modeli </strong> </div>
            <div class="col-2"> <strong>Kaza Miktarı </strong> </div>
            <div class="col-2"> <strong>Kaza Tarihi </strong> </div>
            <div class="col-2"> <strong> </strong> </div>
            <div class="col-2"> <strong> </strong> </div>
      </div>
      <div class="row">
        <% for(let i=0; i< polices.length; i++){ %>
            <div class="kutu"></div>
            <div class="col-2"> <p class="mobil-p"><%= polices[i].saseNo %></p> </div>
            <div class="col-2"> <p class="mobil-p"><%= polices[i].model %></p> </div>
            <div class="col-2"> <p class="mobil-p"><%= polices[i].quantity %></p> </div> 
            <div class="col-2"> <p class="mobil-p"><%= polices[i].date %></p> </div>
            <% if(user.role == 'admin' || user.role == 'agenta'){ %>
            <div class="col-2"> <a class="mobil-a" style="color: rgb(0, 255, 21);" href="/police/<%= polices[i]._id %>">DÜZENLE</a></div>
            <div class="col-2"> <a class="mobil-a" style="color: red;" href="/<%= polices[i]._id %>?_method=DELETE">SİL</a></div>
            <% } %>
         <% } %>
         <div class="kutu"></div>
      </div>
      </div>
</center> 

 
<style>

@media only screen and (max-width: 600px) {
    strong{
        font-size: 12px;
    }
    .mobil-p{
        font-size: 10px;
    }
    button{
        width: 25%;
    }
    .mobil-a{
        font-size: 10px;
    }
}


    p{
        font-size: 16px;
    }
 
    .kutu{
        width: 100%;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #1450d2;
    }
</style>

